.main {
    position: relative;
    min-height: calc(100vh - 90px);

    .main__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: .7);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    .main__background img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    > section {
        position: relative;
        z-index: 2;
    }
}